[Unit]
Description=ServidorLab watchdog a cada 15s

[Timer]
OnBootSec=30s
OnUnitActiveSec=15s
Unit=lab-watchdog.service

[Install]
WantedBy=timers.target
